body {
  background-color: #070f2b;
}

h1 {
  font-size: 4em;
}

.buttonLogIn {
  background: rgb(60, 141, 226);
  background: linear-gradient(107deg, #9290c3 7%, #535c91 83%);
}

.bg-darkBlue {
  background-color: #070f2b !important;
}
