body {
  background-color: #0f151d;
}

h1 {
  font-size: 4em;
}

.buttonLogIn {
  background-color: #105981;
}

.bg-darkBlue {
  background-color: #0f151d !important;
}

.bgImg-home {
  background-image: url("Img/imgBackgroundHome.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.h-15 {
  width: 10%;
}

.bi {
  color: black;
}

.iconSave {
  font-size: 1em;
  color: black;
}

.card-clicked {
  border-color: darkBlue !important;
}

.logo-border {
  width: 10%;
}

.font-8 {
  font-size: 2em;
  text-align: center;
}

.text-similWhite {
  color: #e1e1da;
}
